h1 {
  color: #777;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 1.5px;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(
    to left,
    rgb(43, 61, 165),
    rgb(80, 235, 226)
  );
  color: #fff;
}
.images_previewer {
  width: 100%;

  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .previewer_container {
    width: 100%;
    .item_preview {
      width: 80%;
      margin: 40px auto 0px;
      padding: 10px;
      img {
        padding: 3px;
        display: block;
        margin: auto;
        width: 70%;
        border: 2px solid #efefef;
        padding: 3px;
      }
    }
    .previewer_items {
      width: 80%;
      margin: auto;
      .items_row {
        overflow: auto;
        padding: 10px 20px;
        display: flex;
        justify-content: center;

        &::-webkit-scrollbar-track {
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
          width: 3px;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #ccc;
        }

        img {
          border: 1px solid #eee;
          transition: 0.3s;
          height: 100px;
          width: 100px;
          margin: 0px 5px;
          object-fit: cover;
          border-radius: 3px;
          cursor: pointer;
          &:hover {
            padding: 2px;
            border-radius: 3px;
            box-shadow: 0px 2px 1px 1px #ccc;
          }
        }
      }
    }
  }
}
.active_image {
  border: 5px solid red;
  padding: 2px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 1px #aaa;
}
@media (max-width: 992px) {
  .images_previewer {
    .previewer_container {
      .item_preview {
        width: 95%;
        margin-bottom: 10px;
      }
      .previewer_items {
        width: 95%;
        .items_row {
          img {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .images_previewer {
    .previewer_container {
      .item_preview {
        width: 98%;
        margin-bottom: 10px;
      }
      .previewer_items {
        width: 98%;
        .items_row {
          img {
            width: 65px;
            height: 65px;
          }
        }
      }
    }
  }
}

.previewer_animation {
  animation: panime 0.5s forwards ease-in-out;
}

@keyframes panime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mywebsite {
  background-color: #fff;
  font-size: 64px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: block;
  font-family: nunito;
  color: #777;
  text-transform: capitalize;
  transition: 1s;
  margin-top: 100px;

  &:hover {
    background-color: #0861d4;
    color: #fff;
  }
}
